.work {
  &-grid {
    margin-top: 47px;
    div[class*="col-"] {
      margin: 0;
      padding: 0;
    }
    &-item {
      margin-right: 13px;
      margin-bottom: 40px;
      &-thumbnail {
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .info {
      line-height: 2.5;
      margin-top: 4px;
    }
  }
  > .info {
    &:last-child {
      margin-top: 20px;
      margin-bottom: 44px;
    }
  }
}

// ======= Project modal ==========
.project-modal {
  display: flex;
  height: 100%;
  &-title {
    font-size: 26px;
    padding: 0;
    margin: 0 0 22px;
    font-weight: bold;
  }
  &-info {
    flex-grow: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 854px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .info {
      margin: 0;
      width: 100%;
    }
    .text-link {
      font-size: 16px;
    }
  }
  &-nav {
    @include flexCenter();
    .icon {
      background: white;
      @include flexCenter();
      &:hover {
        opacity: 0.5;
      }
    }
    &:first-child {
      padding-left: 75px;
    }
    &:last-child {
      padding-right: 75px;
    }
  }
  &-image {
    margin-bottom: 40px;
  }
}
