@import "../../node_modules/bootstrap/dist/css/bootstrap.min";
@import "./_variables";
@import "./_mixins";
@import "./_typography";
// ============== Body styles and background ==================
body {
    background-size: 1500% 1500%;
    background-repeat: no-repeat;
    background-image: linear-gradient(-45deg, $gradient-bg-colors);
    animation: backgroundAnimation 10s linear infinite;
    padding: 71px; // border(21) + width(50)
}

@keyframes backgroundAnimation {
    0%,
    100% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%;
    }
}

//======= Overriding Bootstrap Modal =====.
.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.modal-content {
    height: 100%;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.8);
}

.modal-header {
    padding: 15px 15px 5px 15px;
    border-bottom: none;
    .close {
        color: $text-color;
        opacity: 1;
    }
}

.modal-body {
    padding: 0;
    height: 90%;
    /* fallback if needed */
    height: calc(100% - 39px);
    overflow-y: auto;
}

// ======= Project modal ==========
.project-modal {
    display: flex;
    height: 100%;
    &-title {
        font-size: 26px;
        padding: 0;
        margin: 0 0 22px;
        font-weight: bold;
    }
    &-info {
        flex-grow: 1;
        overflow-y: auto;
        text-align: center;
        max-width: 854px;
        margin-left: auto;
        margin-right: auto;
        .caption {
            font-size: 26px;
            margin: 0;
        }
        .text-link {
            font-size: 16px;
        }
    }
    &-nav {
        @include flexCenter();
        .icon {
            background: white;
            @include flexCenter();
            &:hover {
                opacity: 0.5;
            }
        }
        &:first-child {
            padding-left: 75px;
        }
        &:last-child {
            padding-right: 75px;
        }
    }
}

.blur {
    filter: blur(5px);
}

// scroll bar style chrome
// ::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
//     &-track {
//         background: $default-highlight-background;
//         box-shadow: inset 0 0 5px $white-two;
//         -webkit-box-shadow: inset 0 0 5px $white-two;
//         border-radius: 10px;
//         -webkit-border-radius: 10px;
//         border: $default-border;
//     }
//     &-thumb {
//         background: $default-border-color;
//         border-radius: 10px;
//         box-shadow: inset 0 0 5px $default-border-color;
//         -webkit-border-radius: 10px;
//         &:window-inactive {
//             background: rgba($black, 0.1);
//         }
//     }
//     &-corner {
//         background: $default-highlight-background;
//     }
// }
// CSS to remove ugly curly braces.
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

// body borders
.bd-border {
    position: fixed;
    background: white;
    z-index: 99;
    &-left,
    &-right {
        top: 0;
        bottom: 0;
        width: 21px;
    }
    &-left {
        left: 0;
    }
    &-right {
        right: 0;
    }
    &-top,
    &-bottom {
        left: 0;
        right: 0;
        height: 21px;
    }
    &-top {
        top: 0;
    }
    &-bottom {
        bottom: 0;
    }
}

.blur {
    filter: blur(5px);
}

.title {
    font-size: 64px;
    font-weight: 900;
    font-family: Butler_Black_Stencil;
}

.info {
    font-size: 18px;
}

//=== All icons styling.
.icon {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: none;
    position: relative;
    &::after {
        top: -30px;
        position: absolute;
        content: ' ';
        width: 100%;
        text-align: center;
        color: $text-color;
        opacity: 0;
        transition: all 0.5s linear;
    }
    &:hover {
        &::after,
        &::before {
            opacity: 1;
        }
    }
    &-behance {
        background-image: url("../images/behance.png");
        background-image: image-set( url("../images/behance.png") 1x, url("../images/behance@2x.png") 2x, url("../images/behance@3x.png") 3x);
        &::before {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/behance-er.png");
            background-image: image-set( url("../images/behance-er.png") 1x, url("../images/behance-er@2x.png") 2x, url("../images/behance-er@3x.png") 3x);
        }
        &::after {
            content: 'Behance';
        }
    }
    &-call {
        background-image: url("../images/call.png");
        background-image: image-set( url("../images/call.png") 1x, url("../images/call@2x.png") 2x, url("../images/call@3x.png") 3x);
        &:hover {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/call-er.png");
            background-image: image-set( url("../images/call-er.png") 1x, url("../images/call-er@2x.png") 2x, url("../images/call-er@3x.png") 3x);
        }
    }
    &-deviant {
        background-image: url("../images/deviant-art.png");
        background-image: image-set( url("../images/deviant-art.png") 1x, url("../images/deviant-art@2x.png") 2x, url("../images/deviant-art@3x.png") 3x);
        &::before {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/deviant-art-er.png");
            background-image: image-set( url("../images/deviant-art-er.png") 1x, url("../images/deviant-art-er@2x.png") 2x, url("../images/deviant-art-er@3x.png") 3x);
        }
        &::after {
            content: 'Deviant';
        }
    }
    &-dribbble {
        background-image: url("../images/dribbble.png");
        background-image: image-set( url("../images/dribbble.png") 1x, url("../images/dribbble@2x.png") 2x, url("../images/dribbble@3x.png") 3x);
        &::before {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/dribbble-er.png");
            background-image: image-set( url("../images/dribbble-er.png") 1x, url("../images/dribbble-er@2x.png") 2x, url("../images/dribbble-er@3x.png") 3x);
        }
        &::after {
            content: 'Dribbble';
        }
    }
    &-email {
        background-image: url("../images/email.png");
        background-image: image-set( url("../images/email.png") 1x, url("../images/email@2x.png") 2x, url("../images/email@3x.png") 3x);
        &::before {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/email-er.png");
            background-image: image-set( url("../images/email-er.png") 1x, url("../images/email-er@2x.png") 2x, url("../images/email-er@3x.png") 3x);
        }
    }
    &-etc {
        background-image: url("../images/etc.png");
        background-image: image-set( url("../images/etc.png") 1x, url("../images/etc@2x.png") 2x, url("../images/etc@3x.png") 3x);
        &::before {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/etc-er.png");
            background-image: image-set( url("../images/etc-er.png") 1x, url("../images/etc-er@2x.png") 2x, url("../images/etc-er@3x.png") 3x);
        }
        &::after {
            content: 'More';
        }
    }
    &-facebook {
        background-image: url("../images/fb.png");
        background-image: image-set( url("../images/fb.png") 1x, url("../images/fb@2x.png") 2x, url("../images/fb@3x.png") 3x);
        &::before {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/fb-er.png");
            background-image: image-set( url("../images/fb-er.png") 1x, url("../images/fb-er@2x.png") 2x, url("../images/fb-er@3x.png") 3x);
        }
        &::after {
            content: 'Facebook';
        }
    }
    &-instagram {
        background-image: url("../images/instagram_2.png");
        background-image: image-set( url("../images/instagram_2.png") 1x, url("../images/instagram_2@2x.png") 2x, url("../images/instagram_2@3x.png") 3x);
        &::before {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/insta-er.png");
            background-image: image-set( url("../images/insta-er.png") 1x, url("../images/insta-er@2x.png") 2x, url("../images/insta-er@3x.png") 3x);
        }
        &::after {
            content: 'Instagram';
        }
    }
    &-linkedin {
        background-image: url("../images/linkedin.png");
        background-image: image-set( url("../images/linkedin.png") 1x, url("../images/linkedin@2x.png") 2x, url("../images/linkedin@3x.png") 3x);
        &::before {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/linkedin-er.png");
            background-image: image-set( url("../images/linkedin-er.png") 1x, url("../images/linkedin-er@2x.png") 2x, url("../images/linkedin-er@3x.png") 3x);
        }
        &::after {
            content: 'Linkedin';
        }
    }
    &-tumblr {
        background-image: url("../images/tumblr.png");
        background-image: image-set( url("../images/tumblr.png") 1x, url("../images/tumblr@2x.png") 2x, url("../images/tumblr@3x.png") 3x);
        &::before {
            content: ' ';
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("../images/tumblr-er.png");
            background-image: image-set( url("../images/tumblr-er.png") 1x, url("../images/tumblr-er@2x.png") 2x, url("../images/tumblr-er@3x.png") 3x);
        }
        &::after {
            content: 'Tumblr';
        }
    }
}

// ==================== Text Links ===
.text-link {
    padding-bottom: 5px;
    border-bottom: 1px solid $text-color;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $text-color;
        text-decoration: none;
    }
    &:hover {
        opacity: 0.5;
    }
    &-more {
        .info {
            transition: all 0.2s linear;
            overflow: hidden;
        }
    }
}

// ====== Header Navigation bar ======
.nav {
    &-bar {
        // TODO: Adjust spacing accordingly.
        padding-top: 93px;
        >ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            padding: 0;
            margin: 0;
        }
    }
    &-item {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 4px;
        transition: all .15s ease-in;
        .text-link {
            border-bottom: none;
            &:hover {
                border-bottom: 1px solid $text-color;
            }
        }
    }
}

// ====== Home ======
.home {
    padding-top: 141px;
    padding-bottom: 186px;
    >.title {
        margin-bottom: 14px;
    }
    &-social {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        &-link {
            margin-right: 25px;
            &:first-child {
                margin-left: 0px;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

// ================= Work ===================
.work {
    background: white;
    margin-left: -50px;
    margin-right: -50px;
    padding: 141px 50px 221px 50px;
    >.caption {
        margin-top: 40px;
        margin-bottom: 76px;
    }
    &-grid {
        div[class*="col-"] {
            margin: 0;
            padding: 0;
        }
        &-item {
            overflow: hidden;
            margin-right: 40px;
            margin-bottom: 60px;
            &-thumbnail {
                &:hover {
                    cursor: pointer;
                }
            }
            >.caption {
                margin-top: 10px;
            }
        }
    }
}

// ================= Contact =================
.contact {
    padding-top: 141px;
    padding-bottom: 221px;
    .info {
        margin-top: 40px;
        margin-bottom: 47px;
    }
    &-info {
        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            >a {
                border: none;
                padding-bottom: 0;
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}