@import "../../node_modules/bootstrap/dist/css/bootstrap.min";
@import "./_variables";
@import "./_typography";
// ============== Body styles and background ==================
body {
    height: 100vh;
    background-size: 900% 1500%;
    background-repeat: no-repeat;
    background-image: linear-gradient(-45deg, $gradient-bg-colors);
    animation: backgroundAnimation 60s ease infinite;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.text-link {
    padding-bottom: 5px;
    border-bottom: 1px solid $text-color;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $text-color;
        text-decoration: none;
    }
    &:hover {
        opacity: 0.5;
    }
}

.bold-type {
    font-weight: bold;
}

@keyframes backgroundAnimation {
    0%,
    100% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%;
    }
}

.title {
    font-size: 64px;
    font-weight: 900;
    font-family: Butler_Black_Stencil;
}

.caption {
    font-size: 18px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px rgba(63, 63, 63, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
        background: rgba(63, 63, 63, 0.2);
        border-color: transparent;
    }
}

// ================= Introduction ===========
.intro {
    margin-top: 318px;
    &-social {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        &-link {
            margin-left: 13px;
            margin-right: 12px;
            &:first-child {
                margin-left: 0px;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

// ================= Work ===========
// .work {
//     &-list {
//         display: flex;
//         padding-top: 44px;
//         padding-bottom: 66px;
//         overflow: auto;
//         &-item {
//             width: 492px;
//             margin-right: 63px;
//             flex: 0 0 auto;
//             &:last-child {
//                 margin-right: 0px;
//             }
//             >img {
//                 width: 100%;
//                 height: 492px;
//                 margin-bottom: 18px;
//                 &:hover {
//                     cursor: pointer;
//                 }
//             }
//         }
//     }
// }
.work {
    margin-top: 186px;
    margin-bottom: 128px;
    background: white;
    padding-top: 165px;
    padding-bottom: 135px;
    >.container {
        >h1 {
            margin-bottom: 40px;
        }
    }
    &-grid {
        margin-top: 44px;
        margin-bottom: 78px;
        &-item {
            margin-top: 30px;
            margin-bottom: 30px;
            >.caption {
                margin-top: 10px;
            }
        }
    }
}

// ================= Contact =================
.contact {
    margin-bottom: 221px;
    .caption {
        margin-top: 40px;
        margin-bottom: 47px;
    }
    &-info {
        &-item {
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
            >span {
                margin-left: 8px;
                margin-right: 8px;
            }
            a {
                border: none;
            }
        }
    }
}