<div class="work" id="work">
    <h1 class="title">I design interfaces for web and mobile</h1>
    <p class="info">
        I specialise in designing for digital interfaces, a few samples of which are showcased below. Everything else is on my
        <a href="https://www.behance.net/enakshi" target="_blank" class="text-link bold-type">Behance</a>.
    </p>
    <!-- Project Grid -->
    <section class="work-grid">
        <section class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6" ng-repeat="project in projects">
                    <div class="work-grid-item">
                        <img alt="Project Image" class="work-grid-item-thumbnail" ng-click="select(project)" width="100%" data-toggle="modal" data-target="#projectModal" ng-src="{{project.thumbnail}}" ng-srcset="{{project.srcset}}">
                        <p class="info">{{project.title}}</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<modal visible="isVisible" class="project-modal">
    <modal-header></modal-header>
    <modal-body>
        <div class="project-modal-info">
            <h1 class="title project-modal-title">
                {{selectedProject.title}}
            </h1>
            <p class="info" ng-if="selectedProject.description">
                {{selectedProject.description}}
            </p>
            <div ng-repeat="image in selectedProject.images">
                <p class="info" ng-if="image.description">
                    {{image.description}}
                </p>
                <figure>
                    <img ng-src="{{image.src}}" ng-srcset="{{image.srcset}}">
                    <figcaption ng-if="image.caption"> {{image.caption}}</figcaption>
                </figure>
            </div>
            <div class="project-modal-control">
                <a ng-if="!isFirst(selectedProject)" href="javascript: void 0;" ng-click="prev()"> &#8249; Previous project</a>
                <span></span>
                <a ng-if="!isLast(selectedProject)" href="javascript: void 0;" ng-click="next()">Next project &#8250;</a>
            </div>
        </div>
    </modal-body>
</modal>
