<div class="etc">
    <!-- User picture -->
    <div class="etc-pic">
        <img src="images/img-6405.png" srcset="images/img-6405@2x.png 2x, images/img-6405@3x.png 3x">
    </div>

    <!-- About user -->
    <div class="etc-about">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
    </div>

    <!-- Social Nav item -->
    <div class="etc-social">
        <ul class="social list-unstyled">
            <!-- Behace -->
            <li class="social-item">
                <a href="https://www.facebook.com/enakshi.roy" target="_blank">
                    <img src="images/fb-enakshi.png"
                    srcset="images/fb-enakshi@2x.png 2x, images/fb-enakshi@3x.png 3x">
                </a>
            </li>

            <!-- Linked in -->
            <li class="social-item">
                <a href="http://craproy.deviantart.com/" target="_blank">
                    <img src="images/deviantart-enakshi.png"
                    srcset="images/deviantart-enakshi@2x.png 2x, images/deviantart-enakshi@3x.png 3x">
                </a>
            </li>

            <!-- Email -->
            <li class="social-item">
                <a href="https://www.tumblr.com/" target="_blank">
                    <img src="images/tumblr-enakshi.png "
                    srcset="images/tumblr-enakshi@2x.png 2x, images/tumblr-enakshi@3x.png 3x">
                </a>
            </li>
        </ul>
    </div>
</div>